body{
	background-color: #26C7db;
}
input{
	flex: 1;
	min-width: 100px;
	border:0px;
	height: 20px;
	margin-left:10px;
	background-color: #26C7db;
	color: white;
	line-height: 20px;
	font-size: 14px;
}
.main{
	height: auto;
	width: 100%;
}
.container{
	width: 100%;
	height: auto;
}
.title{
	height: 200px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.company{
	font-size: 20px;
}
.system{
	font-size: 40px;
	margin-top:20px;
}
.content{
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login{
	height:auto;
	width: 100%;
	margin:auto 15%;
}
.row{
	/*background-color: red;*/
	height: 32px;
	display: flex;
	color: white;
	padding: 0 15px;
	align-items: center;
	line-height: 32px;
}
.row p{
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 48px;
}
#renovation{
	cursor:pointer;
}
.code{
	
	height: 32px;
	display: flex;
	color: white;
	padding: 0 15px;
	align-items: center;
	line-height: 32px;
}
#code{

	max-width: 64px;
	border:1px solid #efefef;
}
#code_pic{
	width: 60px;
	height: 28px;
	background-color: white;
	margin-left: 10px;

}
#submit{
	margin-top: 20px;
	margin-left: auto;
	height: 40px;
	width: 100%;
	background-color: gray;
	color: white;
	-webkit-border-radius: 5px;/*Webkit浏览器的私有属性*/
	-moz-border-radius: 5px;/* Mozilla浏览器的私有属性*/
	border-radius:5px;/*所有角都使用半径为20px的圆角，此属性为CSS3标准属性*/
}
.line{
	margin: 5px 0;
	height: 1px;
	background-color: #eee;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
@media screen and (min-width: 680px){
	.container{
		height: auto;
		width: 80%;
		display: flex;
		margin:100px 10%;
	}
	.title{
		width: 60%;
		height: 400px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content{
		width: 40%;
		height: 400px;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-box-shadow: gray 5px 5px 10px;
		-moz-box-shadow: gray 0px 0px 10px;
		box-shadow: gray 0px 0px 10px;	
	}
	#submit{
		margin-top: 40px;
		height: 40px;
		width: 100%;
		background-color: #eee;
		color: #26C7db;
		-webkit-border-radius: 5px;/*Webkit浏览器的私有属性*/
		-moz-border-radius: 5px;/* Mozilla浏览器的私有属性*/
		border-radius:5px;/*所有角都使用半径为20px的圆角，此属性为CSS3标准属性*/
	}