<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.bjpygh。glxt.mapper.UserCouponMapper">
		<resultMap type="usercoupon" id="userCouponMap">
			<id column="user_id" property="userid" javaType="long" jdbcType="BIGINT" />
			<result column="phone_number" property="phonenumber"/>
			<result column="coupon_status" property="couponstatus"/>
			<result column="coupon_price" property="couponprice"/>
			<result column="coupon_type" property="coupontype" />
			<result column="coupon_time" property="coupontime" />
		</resultMap>
		<insert id="insertUserCoupon" parameterType="usercoupon">
			insert into user_coupon (user_id, phone_number, coupon_status, coupon_price, coupon_type, coupon_time) 
			values(#{userid}, #{phonenumber}, #{couponstatus},#{couponprice}, #{coupontype}, #{coupontime})
		</insert>
		<update id="updataCouponStatus" parameterType="map">
			update user_coupon set coupon_status=#{couponstatus} where user_id=#{userid}
		</update>
		<update id="updataCouponPrice" parameterType="map">
			update user_coupon set coupon_price=#{couponprice} where user_id=#{userid}
		</update>
		<select id="selectUserCoupon" parameterType="string" resultMap="userCouponMap">
			select * from user_coupon where user_id=#{userid}
		</select>
	</mapper>